body {
	background-color:  #ADD8E6;
}

h1,html {
	text-align:center;
	font-family:"";
	color: grey;
}

html {
	text-align:center;
}

.hidden {
	display: none;
} 

button, input {
	border: 1px solid black;
	font-style: Arial;
	color: black;
	background-color: white;
}

.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

a {
	font-size: 16px;
	font-family: 'Yorkville';
	color: grey;
}

#ListEvents a {
	font-size: 16px;
	font-family: 'Yorkville';
	color: grey;
}

.box {
	margin: 5px 0px 5px 0px;
	padding: 10px;
	border: 1px solid blue;
	width: 500px;

}

.container {
	width: 550px;
    margin: 0px auto;
}