body {
	margin: 0px 0px;
	padding: 0px 0px;
	background-image: url('image.jpg');
	background-size: cover;
	background-position: top-left;
	background-repeat: no-repeat;
	background-color:#000;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	opacity: .75;
}

h1 {
	font-family: 'Lato', sans-serif;
	color: #F0FFFF;
	margin: 0;
	padding: 0;
	font-weight: bolder;
	font-size: 60;
	text-align: center;
}

@media screen {

}

h2, h3 {
	background:rgba(1,1,1,0.5);
}

.need-help {
	width: 40%;
	margin: 15px auto;
	padding-bottom: 15px;
}

.need-help-2 {
	width: 20%;
	margin: 15px auto;
	padding-bottom: 15px;
}

.search-header {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 50px;
	width: 48%;
	margin: 15px auto;

}

.intro {
	width: 25%;
	margin: 10px auto;
}

h2  {
	text-align:center;
	color: white;
	font-family: 'Arvo', serif;
	font-size: 30px;
	padding-top: 20px;
}

h3 {
	padding-top: 20px;
	text-align:center;
	color: white;
	font-family: 'Arvo', serif;
	font-size: 25px;
}

.hidden {
	display: none;
} 

.help {
	margin-left: 30%;
	margin-right: 30%;
	padding: 5px;
	font-family: 'Arvo', serif;
	line-height:1.4em;
	font-size: 15px;
	text-align: center;
	color: white;
	background:rgba(1,1,1,0.5);
}

h1 {
	background:rgba(1,1,1,0.5);
}

input {
	border: 2px solid black;
	font-style: Arial;
	color: black;
	background-color: white;
	position: relative;
}

.submit-btn {
	display: block;
	margin-top: 136px;
	position: absolute;
	margin-left: 650px;
	font-size: 20px;
  	padding: 10px 10px;
  	background-color: #0D663A;
  	font-family: 'Lato', sans-serif;
  	color: white;
  	cursor: pointer;
  	width: 10%;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    display: inline-block;
}

label {
    width:600px;
    clear:left;
    text-align:right;
    padding-right:10px;
    font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-top: 15px;

}

input, label {
    float:left;
}

a {
	font-size: 16px;
	font-family: 'Arial';
	color: grey;
}

#ListEvents a {
	font-size: 16px;
	font-family: 'Arial';
	color: green;
	display: block;
	text-align: center;
	text-decoration: none;
}

.box {
	margin: 0px 0px 10px 0px;
	border: 1px solid black;
	width: 500px;
	opacity: .9;
	font-weight: bold;
	background-color: white;
	padding: 5px;
	box-shadow: 5px 5px 5px #888888;
}

#ListEvents a:hover {
	color: black;
}

.container {
	width: 550px;
    margin: 0px auto;
    display: block;
    margin-top: 250px;
}

.show-app {
  background-color: #0D663A;
  font-size: 16px;
  width: 7%;
  font-size: 20px;
  padding-bottom: 8px;
  font-family: 'Lato', sans-serif;
  color: white;
  cursor: pointer;
  padding-top: 8px;
  margin: 0 auto;
  display:block;
  margin-top: 10px;
}

.nav-buttons button {
  border-radius: 0px;
  font-family: 'Lato', sans-serif;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
  background-color: #0D663A;
  margin-top: 20px;
  padding: 15px 30px;
}

.event-name {
	display: block;
	background-color: purple;
}

.nav-buttons {
	margin-left: 650px;
}

.show-app:hover {
	color: grey;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

html .box {
	text-align: center;
}

@media(min-width:768){



}
@media(min-width:972px;){



}
